In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("sp500_returns_with_tickers.csv")
len(data.columns)

937

In [3]:
cap_data = pd.read_csv("sp500_market_caps.csv")
cap_data.tail()

,date,JAVA,ORCL,MSFT,SDS,AYE,TROW,HON,EMC,BEAM,...,CFN,AVGO,VRSK,DG.1,FTNT,VAL,GNRC,QEP,CBOE,TSLA
235,2024-08-30,NaN,3.893754e+08,3.100618e+09,NaN,NaN,23604291.92,1.350731e+08,NaN,NaN,...,NaN,7.604632e+08,3.885612e+07,18246347.55,58676092.68,NaN,9415749.09,NaN,2.149182e+07,6.840044e+08
236,2024-09-30,NaN,4.721891e+08,3.199038e+09,NaN,NaN,24198036.99,1.344126e+08,NaN,NaN,...,NaN,8.056744e+08,3.788874e+07,18598211.55,59380035.00,NaN,9557108.64,NaN,2.143637e+07,8.390474e+08
237,2024-10-31,NaN,4.650952e+08,3.021164e+09,NaN,NaN,24406387.74,1.337428e+08,NaN,NaN,...,NaN,7.929237e+08,3.879349e+07,17601996.60,60229962.00,NaN,9958329.15,NaN,2.234668e+07,8.020335e+08
238,2024-11-29,NaN,5.122033e+08,3.148375e+09,NaN,NaN,27512170.56,1.514620e+08,NaN,NaN,...,NaN,7.595069e+08,4.154569e+07,16992832.05,72851357.65,NaN,11197335.40,NaN,2.259647e+07,1.107984e+09
239,2024-12-31,NaN,4.660847e+08,3.133802e+09,NaN,NaN,25123961.31,1.468843e+08,NaN,NaN,...,NaN,1.086402e+09,3.889374e+07,16674789.32,72414479.44,NaN,9225009.85,NaN,2.045564e+07,1.296351e+09

In [5]:
cap_data = cap_data * 1000
cap_data.tail()

,date,JAVA,ORCL,MSFT,SDS,AYE,TROW,HON,EMC,BEAM,...,CFN,AVGO,VRSK,DG.1,FTNT,VAL,GNRC,QEP,CBOE,TSLA
235,2024-08-302024-08-302024-08-302024-08-302024-0...,NaN,3.893754e+11,3.100618e+12,NaN,NaN,2.360429e+10,1.350731e+11,NaN,NaN,...,NaN,7.604632e+11,3.885612e+10,1.824635e+10,5.867609e+10,NaN,9.415749e+09,NaN,2.149182e+10,6.840044e+11
236,2024-09-302024-09-302024-09-302024-09-302024-0...,NaN,4.721891e+11,3.199038e+12,NaN,NaN,2.419804e+10,1.344126e+11,NaN,NaN,...,NaN,8.056744e+11,3.788874e+10,1.859821e+10,5.938004e+10,NaN,9.557109e+09,NaN,2.143637e+10,8.390474e+11
237,2024-10-312024-10-312024-10-312024-10-312024-1...,NaN,4.650952e+11,3.021164e+12,NaN,NaN,2.440639e+10,1.337428e+11,NaN,NaN,...,NaN,7.929237e+11,3.879349e+10,1.760200e+10,6.022996e+10,NaN,9.958329e+09,NaN,2.234668e+10,8.020335e+11
238,2024-11-292024-11-292024-11-292024-11-292024-1...,NaN,5.122033e+11,3.148375e+12,NaN,NaN,2.751217e+10,1.514620e+11,NaN,NaN,...,NaN,7.595069e+11,4.154569e+10,1.699283e+10,7.285136e+10,NaN,1.119734e+10,NaN,2.259647e+10,1.107984e+12
239,2024-12-312024-12-312024-12-312024-12-312024-1...,NaN,4.660847e+11,3.133802e+12,NaN,NaN,2.512396e+10,1.468843e+11,NaN,NaN,...,NaN,1.086402e+12,3.889374e+10,1.667479e+10,7.241448e+10,NaN,9.225010e+09,NaN,2.045564e+10,1.296351e+12